/*
    Elements de base
 */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
@media (min-width: 768px) {
    html{
        font-size: 12px;
    }
}

body{
    background-color: #ecf0f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 90%;
    margin: 20px auto;
}
.inline{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 768px) {
    .inline{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}
h1{
    font-size: 3rem;
    margin-right: 20px;
}
@media (max-width: 580px) {
    h1{
        font-size: 2.5rem;
        margin: 10px 0;
        text-align: center;
    }
}
.error{
    padding: 10px 0;
    color: #dd4b39;
}

/*
    Navbar
 */
nav{
    background-color: #222d32;
    color: #ffffff;
}

li > ul {
    display: none;
}

li:hover > ul{
    display: block;
}

li > ul > li{
    background-color: #2c3b41;
}
nav a, nav span{
    display: block;
    color: #ffffff;
}
nav li, nav span{
    padding: 10px;
}

@media (max-width: 767px) {
    nav > ul {
        display: flex;
        justify-content: space-around;
    }

    nav > ul > li{
        position: relative;
    }

    li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}
@media (max-width: 580px) {
    nav > ul > li:first-child{
        display: none;
    }
}
@media (min-width: 768px) {
    main{
        margin-left: 250px;
    }

    nav {
        position: fixed;
        top: 0;
        width: 250px;
        min-height: 100%;
        font-size: 1.4rem;
    }

    nav li{
        padding: 10px 0;
        display: block;
    }

    nav span{
        padding: 10px;
    }

    nav a {
        padding: 5px 20px;
    }
}

/*
    tables
 */
.responsive_table {
    margin: 40px auto;
    min-height: .01%;
    overflow-x: auto;
}
.responsive_table table{
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
}
th, td{
    text-align: left;
    padding: 10px;
}
th{
    font-weight: 700;
}
tr{
    border-collapse: collapse;
    border-top: 1px solid #f4f4f4;
}
tr:nth-child(2n) {
    background-color: #f4f4f4;
}
.responsive_table li{
    list-style: url('/assets/icons/wrench-solid.svg');
}

/*
    formulaires
 */
form{
    margin: 40px auto;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
}
label{
    cursor: pointer;
}

/*
    login
 */
#loginPage{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-image: url("/assets/img/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#loginPage .container{
    width: 400px;
    margin: 100px auto;
    max-width: 90%;
    text-align: center;
}
#loginPage h1{
    color: #fff;
    font-weight: 700;
}
#loginPage form{
    display: inline-block;
    padding: 50px 80px;
    width: unset;
}
@media (max-width: 580px) {
    #loginPage form{
        padding: 40px;
    }
}
#loginPage input{
    margin: 10px 0 20px;
}

/**
    boutons
 */
.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
    color: #fff;
}

.btn--create{
    background-color: #00c0ef;
    border-bottom-right-radius: 0;
    font-weight: 700;
}
.btn--edit{
    background-color: #f39c12;
}
.btn--view{
    background-color: #00a65a;
}
.btn--delete{
    background-color: #dd4b39;
}
.btn--icon{
    padding: 0;
    margin: 4px 2px;
    height: 40px;
    width: 40px;
}
.btn--icon svg {
    padding-top: 10px;
    width: 20px;
    height: 20px;
}
.btn--icon svg path{
    fill: #fff;
}
